In [1]:
from google.colab import files
uploaded = files.upload()

Saving Real estate.csv to Real estate.csv

In [2]:
import io
import pandas as pd
import numpy as np

df = pd.read_csv(io.BytesIO(uploaded['Real estate.csv']))

In [3]:
df.rename(columns = {'X1 transaction date':'Transaction_date', 'X2 house age':'House_age',
                              'X3 distance to the nearest MRT station':'Distance_to_the_nearest_MRT_station',
                      'X4 number of convenience stores':'number_of_convenience_stores','X5 latitude':'latitude',
                      'X6 longitude':'longitude','Y house price of unit area':'price'}, inplace = True)

In [ ]:
# def price_label(x):
#   y=[]
#   for i in x:
#     if i>0 and i<20:
#       y.append("A")
#     elif i>20 and i<40:
#       y.append("B")
#     elif i>40 and i<60:
#       y.append("C")
#     elif i>60 and i<80:
#       y.append("D")
#     elif i>80 and i<100:
#       y.append("E")    
#     elif i>100:
#       y.append("F")
#     else:
#       y.append("NA")
#   return y
# a= df['price']
# b=price_label(a)
# c= pd.DataFrame(b)
# c.head(10)

   0
0  B
1  C
2  C
3  C
4  C
5  B
6  C
7  C
8  A
9  B

In [5]:
# df['Label'] = b
# df.replace({"NA": np.nan},inplace=True)
# df.dropna(axis=0,inplace=True)

In [6]:
df['Distance_to_the_nearest_MRT_station']=df['Distance_to_the_nearest_MRT_station']/1000

In [7]:
df.head(5)

,No,Transaction_date,House_age,Distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,price
0,1,2012.917,32.0,0.084879,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,0.306595,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,0.561984,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,0.561984,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,0.390568,5,24.97937,121.54245,43.1

In [8]:
df.describe()

,No,Transaction_date,House_age,Distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,price
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,207.500000,2013.148971,17.712560,1.083886,4.094203,24.969030,121.533361,37.980193
std,119.655756,0.281967,11.392485,1.262110,2.945562,0.012410,0.015347,13.606488
min,1.000000,2012.667000,0.000000,0.023383,0.000000,24.932070,121.473530,7.600000
25%,104.250000,2012.917000,9.025000,0.289325,1.000000,24.963000,121.528085,27.700000
50%,207.500000,2013.167000,16.100000,0.492231,4.000000,24.971100,121.538630,38.450000
75%,310.750000,2013.417000,28.150000,1.454279,6.000000,24.977455,121.543305,46.600000
max,414.000000,2013.583000,43.800000,6.488021,10.000000,25.014590,121.566270,117.500000

In [ ]:
import io
import pandas as pd
import numpy as np
df2 = pd.read_csv(io.BytesIO(uploaded['yourNewFileName2.csv']))

In [ ]:
df['Rand_feature']=df2['Rand_feature']

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 8 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   No                                   414 non-null    int64
 1   Transaction_date                     414 non-null    float64
 2   House_age                            414 non-null    float64
 3   Distance_to_the_nearest_MRT_station  414 non-null    float64
 4   number_of_convenience_stores         414 non-null    int64
 5   latitude                             414 non-null    float64
 6   longitude                            414 non-null    float64
 7   price                                414 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 26.0 KB

In [11]:
from sklearn.model_selection import train_test_split
training_set, test_set = train_test_split(df, test_size = 0.2, random_state = 1)

In [12]:
X_train = training_set[[ 'Distance_to_the_nearest_MRT_station','number_of_convenience_stores', 'House_age','latitude','Transaction_date','longitude']]
Y_train = training_set['price']
X_test = test_set[['Distance_to_the_nearest_MRT_station','number_of_convenience_stores', 'House_age','latitude','Transaction_date','longitude']]
Y_test = test_set['price']

In [13]:
# X_train = training_set[[ 'Distance_to_the_nearest_MRT_station','number_of_convenience_stores', 'House_age','latitude','Transaction_date','longitude','Rand_feature']]
# Y_train = training_set['price']
# X_test = test_set[['Distance_to_the_nearest_MRT_station','number_of_convenience_stores', 'House_age','latitude','Transaction_date','longitude','Rand_feature']]
# Y_test = test_set['price']

In [14]:
# X_train = training_set[[ 'Distance_to_the_nearest_MRT_station','number_of_convenience_stores', 'House_age','latitude','Transaction_date','longitude','Rand_feature']]
# Y_train = training_set['Label']
# X_test = test_set[['Distance_to_the_nearest_MRT_station','number_of_convenience_stores', 'House_age','latitude','Transaction_date','longitude','Rand_feature']]
# Y_test = test_set['Label']

In [20]:
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(X_train,Y_train);

In [19]:
# from sklearn.ensemble import RandomForestClassifier
# # Instantiate model with 1000 decision trees
# rf = RandomForestClassifier(n_estimators = 1000, random_state = 42)
# # Train the model on training data
# rf.fit(X_train,Y_train);

In [16]:
# # Calculate mean absolute percentage error (MAPE)
# mape = 100 * (errors / test_labels)
# # Calculate and display accuracy
# accuracy = 100 - np.mean(mape)
# print('Accuracy:', round(accuracy, 2), '%.')

In [21]:
clf= RandomForestRegressor().fit(X_train, Y_train)

In [22]:
Y_pred = clf.predict(X_test)

In [23]:
test_set["Predictions"] = Y_pred

In [24]:
test_set.head(10)

,No,Transaction_date,House_age,Distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,price,Predictions
388,389,2013.500,10.4,2.251938,4,24.95957,121.51353,27.3,24.655000
102,103,2013.083,1.1,0.193584,6,24.96571,121.54089,54.4,48.987500
187,188,2013.000,8.9,3.078176,0,24.95464,121.56627,22.0,24.340000
162,163,2012.750,16.0,4.066587,0,24.94297,121.50342,11.6,13.606000
90,91,2012.833,0.0,0.274014,1,24.97480,121.53059,45.4,76.147817
398,399,2013.417,14.7,1.717193,2,24.96447,121.51649,23.0,29.352000
295,296,2013.167,18.2,2.179590,3,24.96299,121.51252,21.8,26.000000
397,398,2013.417,13.1,1.164838,4,24.99156,121.53406,32.2,35.386000
17,18,2012.750,17.7,0.350851,1,24.97544,121.53119,37.4,41.867000
58,59,2013.500,30.3,4.510359,1,24.94925,121.49542,22.6,19.931000

In [26]:
# from sklearn.metrics import confusion_matrix
# cm = confusion_matrix(Y_test,Y_pred)
# accuracy = float(cm.diagonal().sum())/len(Y_test)
# print("\nAccuracy Of SVM For The Given Dataset : ", accuracy)

In [27]:
clf= RandomForestRegressor().fit(X_train, Y_train)

In [28]:
clf.score(X_train, Y_train)

0.953960327550797

In [29]:
clf.score(X_test, Y_test)

0.5860218231267704

In [33]:
from sklearn.metrics import mean_absolute_error
print("MAE",mean_absolute_error(Y_test,Y_pred))

MAE 5.219131067125646

In [35]:
from sklearn.metrics import mean_squared_error
print("MSE",mean_squared_error(Y_test,Y_pred))

MSE 63.51944800001414

In [36]:
print("RMSE",np.sqrt(mean_squared_error(Y_test,Y_pred)))

RMSE 7.969908907886849

In [37]:
print("RMSE",np.log(np.sqrt(mean_squared_error(Y_test,Y_pred))))

RMSE 2.0756730633625105

In [39]:
from sklearn.metrics import r2_score
r2 = r2_score(Y_test,Y_pred)
print(r2)

0.581519865027551